$border-color: rgb(175, 216, 248);
@function border($color) {
  @return solid 1px $color;
}

#grid {
  border-bottom: border($border-color);
  border-right: border($border-color);
  display: grid;
  grid-template-columns: repeat(51, 1fr);
  width: 80%;
  margin: auto;
}

#exemple {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  .exemple-container {
    display: flex;
    p {
      margin: 0 8px;
    }
  }
}
