$wall-color: rgba(23, 25, 48, 0.9);
$goal-color: rgba(255, 99, 71, 0.75);
$start-color: rgba(46, 204, 113, 0.75);
$visted-color: rgba(0, 190, 218, 0.75);
$path-color: rgb(255, 254, 106);

.node {
  width: 100%;
  padding-bottom: 100%;
  border-top: border($border-color);
  border-left: border($border-color);
  color: $wall-color;
  cursor: pointer;
  position: relative;
  &-bottom {
    border-bottom: border($border-color);
  }
  &-right {
    border-right: border($border-color);
  }
  div {
    position: absolute;
    width: 100%;
    margin: 0;
    top: 50%;
    font-size: 1.4vw;
    transform: translate(0, -50%);
    text-align: center;
    i {
      display: none;
      margin: auto;
    }
  }

  &-goal {
    border-top: border($goal-color);
    border-left: border($goal-color);
    background-color: $goal-color;
    cursor: move;
    &-bottom {
      border-bottom: border($goal-color);
    }
    &-right {
      border-right: border($goal-color);
    }
    i.igoal {
      display: block;
    }
  }

  &-start {
    border-top: border($start-color);
    border-left: border($start-color);
    background-color: $start-color;
    cursor: move;
    &-bottom {
      border-bottom: border($start-color);
    }
    &-right {
      border-right: border($start-color);
    }
    i.istart {
      display: block;
    }
  }

  &-wall {
    border-top: border($wall-color);
    border-left: border($wall-color);
    background-color: $wall-color;
    &-bottom {
      border-bottom: border($wall-color);
    }
    &-right {
      border-right: border($wall-color);
    }
  }

  &-visited {
    background-color: $visted-color;
  }

  &-path {
    border-top: border($path-color);
    border-left: border($path-color);
    background-color: $path-color;
    &-bottom {
      border-bottom: border($path-color);
    }
    &-right {
      border-right: border($path-color);
    }
  }

  &-weight {
    div i {
      font-size: 1.2vw;
    }
    i.iweight {
      display: block;
    }
  }
  &.exemple {
    cursor: default;
    width: 25px;
    height: 25px;
    padding-bottom: 0;
    border: border($border-color);
  }
}
